/* Footer */
.footer {
  background: #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);

  &-inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 20px 0;

    &__wrapper {
      flex: 1 1 auto;
    }

    &__guide {
      background-color: #7b8385;
      color: #fff;
      display: flex;
      flex-flow: row nowrap;
      text-transform: uppercase;
      padding: 4px 45px;
      justify-content: space-between;
      border-radius: 30px;

      a {
        display: block;
        padding: 6px 10px;
      }
    }
  }

  &-logo {
    width: 170px;
    height: 40px;
    padding-left: 22px;
    padding-top: 40px;
  }

  .address,
  .copyright {
    display: block;
    font-style: normal;
    font-size: 1.3rem;
    margin-top: 10px;
  }

  .badge {
    margin-left: 20px;
  }
}
