/* Header */
.header {
  padding: 0 30px 30px 30px;
  position: relative;
  background-color: #fff;
  border-radius: 0 0 15px 15px;

  &-logo {
    position: absolute;
    top: 40px;
    left: 62px;
    margin-top: 8px;
    z-index: 10;
  }

  &-side {
    text-align: right;
    padding: 10px 0;

    &__list {
      display: inline-block;
      margin-left: 10px;

      .divider {
        margin-right: 10px;
      }
    }
  }
}

.nav {
  padding-bottom: 40px;

  &-menu {
    border-top: 2px solid currentColor;
    background: #e85e2c linear-gradient(to bottom, #ef9126 0%, #e85e2c 35%, #e85e2c 70%, #ef9126 100%);
    border-radius: 0 0 5px 5px;
    padding-left: 230px;
    height: 47px;
    position: relative;

    li:nth-child(-n + 3) {
      position: relative;
    }

    &__list {
      float: left;
      border-left: 2px solid #fff;
    }
  }
}

.menu {
  &-button {
    border: 0;
    background: transparent;
    padding: 0 23px;
    line-height: 45px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
  }

  &-sub {
    position: absolute;
    top: 47px;
    display: none;
    padding: 4px 0;

    li {
      display: inline-block;
    }

    a {
      display: inline-block;
      padding: 6px 0;

      &:hover,
      &:focus {
        color: #f00;

        &::before {
          content: "\e801";
        }
      }

      &::before {
        content: "\e805";
        font-family: "fontello";
        font-weight: normal;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: 0.2em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        margin-left: 0.2em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
}

/* is-active */
.is-active {
  .menu-sub {
    position: absolute;
    display: inline-block;
    background-color: bisque;
    white-space: nowrap;
  }

  .menu-button {
    color: #ff0;

    &::after {
      content: "";
      display: block;
      border-top: 3px solid #000;
    }
  }

  .menu-html,
  .menu-css,
  .menu-standard {
    left: 0;
  }

  .menu-accessibility,
  .menu-qna,
  .menu-archive {
    right: 0;
  }
}
