/* Header */
.header {
  padding: 0 30px 30px 30px;
  position: relative;
  background-color: salmon;
  border-radius: 0 0 15px 15px;

  &-logo {
    background-color: bisque;
    position: absolute;
    top: 45px;
    left: 70px;
    z-index: 10;
  }

  &-side {
    text-align: right;
    padding: 10px 0;

    &__list {
      display: inline-block;
      margin-left: 10px;

      .divider {
        margin-right: 10px;
      }
    }
  }

  &-nav {
    border-top: 1px solid #000;
    background-color: yellow;

    &-menu {
      height: 47px;
      padding-left: 230px;

      &__list {
        float: left;
        border-left: 2px solid #fff;

        .menu {
          &-button {
            display: block;
            padding: 5px 20px;
          }

          &-side {
            display: none;
          }
        }
      }
    }
  }
}
