/* Board */
.board {
  margin-top: 20px;
  position: relative;

  &-list {
    li {
      margin-top: 10px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      a {
        flex-grow: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      time {
        flex-shrink: 0;
        margin-left: 10px;
      }
    }
  }

  &-more {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 8px;
  }
}

.tab {
  &-list {
    display: flex;
    flex-flow: row nowrap;

    &__btn {
      border: 1px solid #aaa;
      background-color: #ccc;
      border-radius: 5px 5px 0 0;
      padding: 5px 10px;
      color: #666;
    }

    .is-select {
      background-color: #fff;
      color: #e85e2c;
      border-color: currentColor currentColor #fff currentColor;
    }
  }

  &-panel {
    display: none;
    margin-top: 15px;

    &.is-select {
      display: block;
    }
  }
}
