/* Event */
.event {
  border-bottom: 1px solid #aaa;
  position: relative;

  &-title {
    display: inline-block;
  }

  &-buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    height: 18px;
    overflow: hidden;
    gap: 5px;
  }

  &-button {
    width: 19px;
    height: 18px;
    border: 0;
    padding: 18px 0 0 0;
    background: #ccc url("../../images/back_forward.png") no-repeat;

    &__next {
      background-position: -36px 0;
    }
  }

  &-thumbnail,
  &-brief {
    margin: 10px 0;
  }

  &-thumbnail img {
    border: 1px solid #aaa;
    box-shadow: 5px 5px 0 0 #ccc;
  }

  &-brief {
    line-height: 1.5;
  }
}
