/* Related */
.related {
  margin-top: 10px;

  &-list {
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 27px;
    overflow: hidden;
    transition: height 400ms 0ms ease-in-out, padding 400ms 0ms ease-in-out;
    padding: 0;

    &:hover,
    &:focus {
      height: 147px;
      padding: 10px;
    }

    li {
      height: 25px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding: 0 5px;
    }

    a {
      flex-grow: 1;
      padding: 2px 10px 0 10px;
    }
  }
}
